Flask
psycopg2
flask_sqlalchemy
Flask-Migrate
flask_cors
flask_testing

# Auth
oauthlib
pyOpenSSL
Flask-Login
flask_httpauth

# Api docs
apispec
apispec-webframeworks
flasgger
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
