<style>
    label, label > span {
        display: block;
    }

    label {
        margin: 15px 0;
    }
</style>

<a href="/">Home</a>

<form action="" method="post">
    <label>
        <span>Client Name</span>
        <input name="client_name" type="text">
    </label>
    <label>
        <span>Client URI</span>
        <input name="client_uri" type="url">
    </label>
    <label>
        <span>Allowed Scope</span>
        <input name="scope" type="text">
    </label>
    <label>
        <span>Redirect URIs</span>
        <textarea cols="30" name="redirect_uri" rows="10"></textarea>
    </label>
    <label>
        <span>Allowed Grant Types</span>
        <textarea cols="30" name="grant_type" rows="10"></textarea>
    </label>
    <label>
        <span>Allowed Response Types</span>
        <textarea cols="30" name="response_type" rows="10"></textarea>
    </label>
    <label>
        <span>Token Endpoint Auth Method</span>
        <select name="token_endpoint_auth_method">
            <option value="client_secret_basic">client_secret_basic</option>
            <option value="client_secret_post">client_secret_post</option>
            <option value="client_secret_jwt">client_secret_jwt</option>
            <option value="none">none</option>
        </select>
    </label>
    <button>Submit</button>
</form>
